body,
html {
  background-color: rgb(56, 56, 56);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.btn-darkgreen {
  background-color: #33825d;
  color: white;
  border-radius: 10px;
  padding: 5px 15px;
  border: none;
}
.btn-darkgreen:hover {
  background: rgb(100, 150, 100);
}

.bg-grey {
  background: darkgrey;
  border: darkslategrey;
  border-radius: 10px;
}

.bg-navy {
  background: rgb(15, 15, 48);
  color: white !important;
}

.text-navy {
  color: rgb(15, 15, 48);
}

.hidden {
  display: none;
}

.activePlayer {
  background-color: white;
}
.activePlayer .title {
  text-decoration: underline;
}
